{% if space.rating >= 1 %}
<svg class="icon icon-sm icon-sm-list v-mid">
{%else%}
<svg class="icon icon-sm icon-sm-list washed-blue v-mid">
{%endif%}
  <use xlink:href="#icon-bolt"></use>
</svg>
{% if space.rating >= 2 %}
<svg class="icon icon-sm icon-sm-list v-mid">
{%else%}
<svg class="icon icon-sm icon-sm-list washed-blue v-mid">
{%endif%}
  <use xlink:href="#icon-bolt"></use>
</svg>

{% if space.rating >= 3 %}
<svg class="icon icon-sm icon-sm-list v-mid">
{%else%}
<svg class="icon icon-sm icon-sm-list washed-blue v-mid">
{%endif%}
  <use xlink:href="#icon-bolt"></use>
</svg>
{% if space.rating >= 4 %}
<svg class="icon icon-sm icon-sm-list v-mid">
{%else%}
<svg class="icon icon-sm icon-sm-list washed-blue v-mid">
{%endif%}
  <use xlink:href="#icon-bolt"></use>
</svg>
