<div class="center tc mw7 ph3 mt3 relative">
  <label aria-label="Search" class="dn" hidden for="search">Search</label>
  <input name="search" id="search" autofocus placeholder="Search coffee shops, cafes, location, fast wifi, available plugs etc..." class="fuzzy-search pl5 bg-animate input-reset input input-icon ba b--black br-pill pa3 mb2 db w-100 bg-black-20 hover-bg-black-30 white" type="search">
  <svg class="icon absolute z-2 left-2-5 top-1 light-purple">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>
