---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LocalCafes from '../components/LocalCafes.astro';
---

<Layout title="Trying to Work">
	<main>
		<h1 class="text-white">Trying to Work</h1>
		
		<LocalCafes />

	</main>
</Layout>
