---
import Layout from '../layouts/Layout.astro';
import Places from '../components/Places.astro';
import ErrorMessage from '../components/ErrorMessage.astro';
---

<Layout title="Trying to Work">
  <main class="container mx-auto px-4 py-8 max-w-screen-xl">
    <h1 class="text-5xl text-center font-bold mb-6">Trying to Work</h1>
    <Places />
    <ErrorMessage />
  </main>
</Layout>
