
// Converted Variables


// Custom Media Query Variables


/*

  STYLES



*/

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, input {
  font-family: Consolas,
               monaco,
               monospace;
}

svg {
	max-height: 100%;

	&:not(:root) {
		overflow: hidden;
	}
}

.card-item {
  &:after, &:before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .125rem;
    border: 1px solid $black;
  }
  &:before {
    top: .3em;
    right: -.5em;
    z-index: -1;
    background-color: darken($dark-blue,1%);
  }
  &:after {
    top: .65em;
    right: -.9em;
    z-index: -2;
    background-color: darken($dark-blue,2%);
  }
}

.button-group {
  &:before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .125rem;
    border: 1px solid $black;
  }
  &:before {
    top: .2em;
    right: -.4em;
    z-index: -1;
    background-color: darken($dark-blue,1%);
  }
  .active {
    background-color: lighten($navy, 2%);
  }
}

.text-stroke {
  color: $light-green;
  @media #{$breakpoint-large}{
    color: transparent;
    -webkit-text-stroke: 2px $light-green;
    &::selection {
      color: $light-green;
      background: transparent;
      -webkit-text-stroke: 0;
    }
  }
}

.transparent {
  color: transparent;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-md {
  width: 13px;
  height: 13px;
}

.icon-sm {
  width: 11px;
  height: 11px;
}

.icon-sm-list {
  width: 6px;
  &:not(:first-of-type) {
    margin-left: -4px;
  }
}

::-moz-selection {
	background: $light-green;
}
::selection {
	background: $light-green;
}

input::placeholder {
  color: $light-purple;
}

.list-horizontal-disc {
  li:before {
    content: "\b7";
    margin-right: $spacing-small;
  }
  li:first-of-type::before {
    margin-right: 0;
    content: "";
  }
}

.list-horizontal-disc li.list-item-icon:before {
  padding-right: 0;
}

.input:focus {
  outline: none;
}

.input-icon:focus {
  + .icon {
    color: $white;
  }
}

.space-item-row {
  min-height: 50px;
}

.link {
  outline: none;
}

.tooltip {
  min-width: 160px;
  margin-left: -240%;
  margin-top: .8rem;
  display: none;
  &:before, &:after {
    bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
  	border-bottom-color: $black;
  	border-width: 7px;
  	margin-left: -7px;
  }
  &:after {
    border-color: rgba(136, 183, 213, 0);
  	border-bottom-color: $dark-blue;
  	border-width: 6px;
  	margin-left: -6px;
  }
}

@media #{$breakpoint-not-small} {
  .tooltip-item:hover, .tooltip-item:focus {
    .tooltip {
      display: block;
    }
  }
}
