<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} - Spaces to work online in {{page.city}} City Centre ⚡</title>
        <meta name="description" content="A collection of free spaces to work online around European City Centres">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#87f7dd">
        <meta name="theme-color" content="#0A0B10">

        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">

        <meta name="google-site-verification" content="IMC-lwHL5ZqPd7MdL2mVE5N_7fILL5b7bkwiq-q4yss" />

        <!-- Web Application Manifest -->
        <link rel="manifest" href="manifest.json">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="{{site.name}}">
        <link rel="icon" sizes="192x192" href="android-chrome-192x192.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#0A0B10">
        <meta name="apple-mobile-web-app-title" content="{{site.name}}">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/mstile-150x150.png">
        <meta name="msapplication-TileColor" content="#0A0B10">

        <meta property="og:url" content="{{site.website}}" />
        <meta property="og:title" content="{{site.name}}" />
        <meta property="og:description" content="{{site.description}}" />
        <meta property="og:image" content="{{site.website}}/og-image.png" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@trying2work" />
        <meta name="twitter:title" content="{{site.name}}" />
        <meta name="twitter:description" content="{{site.description}}" />
        <meta name="twitter:image" content="{{site.website}}/og-image.png" />

        <!-- Google Analytics -->
        <script>

        var gaProperty = 'UA-39366656-17';

        // Disable tracking if the opt-out cookie exists.
        var disableStr = 'ga-disable-' + gaProperty;
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
          window[disableStr] = true;
          if (document.documentElement) {
            document.documentElement.className += " disable-ga";
          }
        }

        if (navigator.userAgent.indexOf("Speed Insights") == -1) {
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', gaProperty, 'auto');
          ga('send', 'pageview');
        }

        // Opt-out function
        function gaOptout() {
          document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
          window[disableStr] = true;
          if (document.documentElement) {
            document.documentElement.className += " disable-ga";
          }
        }
        </script>
        <!-- End Google Analytics -->

        {% include criticalCSS.html %}

        <style>
        .fonts-loaded .serif {
          font-family: 'Tiempos Headline',
                       georgia,
                       times,
                       serif;
        }
        </style>

        <script>
        /* include loadJS library */
        (function( w ){
            var loadJS = function( src, cb ){
                "use strict";
                var ref = w.document.getElementsByTagName( "script" )[ 0 ];
                var script = w.document.createElement( "script" );
                script.src = src;
                script.async = true;
                ref.parentNode.insertBefore( script, ref );
                if (cb && typeof(cb) === "function") {
                    script.onload = cb;
                }
                return script;
            };
            // commonjs
            if( typeof module !== "undefined" ){
                module.exports = loadJS;
            }
            else {
                w.loadJS = loadJS;
            }
        }( typeof global !== "undefined" ? global : this ));
        /* check if font was previously used */
        if (sessionStorage.getItem('fonts-loaded')) {
            // fonts cached, add class to document
            document.documentElement.classList.add('fonts-loaded');
        } else {
            // load script with font observing logic
            loadJS('js/dist/font.js');
        }

        </script>

        {% include symbol-defs.svg %}

    </head>
    <body class="bg-near-black white flex flex-column min-h-100">

      <header class="center ph3 ph5-ns tc pt4">
        <h1 class="fw9 serif f1 f-5-m f-6-l lh-title mt0 mb3 text-stroke">
          {{site.name}}
        </h1>
        <div class="measure center">
          <h2 class="fw2 f5 lh-copy mt0 fw4">
            A collection of free spaces to work online around {{page.city}} city centre
          </h2>
          <p class="pt2 pb0 mb0 f6 light-green">
            <a class="link light-green link-underline hover-green" href="https://michael1018.typeform.com/to/A55afF" data-mode="popup" data-hide-headers=true data-hide-footer=true>Submit a space</a>
          </p>

          <div class="mv4 flex justify-around relative button-group">
            <a class="link relative {%if page.city == 'Belfast'%} active {%else%} bg-dark-blue {%endif%} flex-auto bg-navy db bg-animate hover-bg-navy white pa3 br1 hidden ba b--black relative br1 br--left" href="/#Belfast">Belfast</a>
            <a class="link relative {%if page.city == 'Dublin'%} active {%else%} bg-dark-blue {%endif%} flex-auto db bg-dark-blue bg-animate hover-bg-navy white pa3 br1 hidden ba b--black relative br1 br--right bl-0" href="/dublin">Dublin</a>
          </div>
        </div>

      </header>

      <main class="flex-auto">
        {{ content }}
      </main>


      <footer class="pv3">
        <div class="center mw7 tc">
          <ul class="list list-horizontal-disc f7 pa0 ma0 mb1 washed-blue">
            <li class="dib mv1">Made by <a class="link link-underline washed-blue hover-white" href="{{site.author_link}}">{{site.author}}</a></li>
            <li class="dib mv1">Built with Jekyll and Tachyons</li>
            <li class="dib mv1"><a class="link link-underline washed-blue hover-white" href="{{site.github_source}}">View source</a> on Github</li>
          </ul>
          <a class="dib f7 mv3 link link-underline washed-blue hover-white" href="{{site.twitter}}">@trying2work</a>
        </div>


        <!-- <script async defer src="js/list.js"></script>
        <script async defer src="js/clipboard.js"></script>
        <script async defer src="js/main.js"></script> -->
        <script async defer src="js/dist/scripts.min.js"></script>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm_share",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
      </footer>

      <link rel="stylesheet" href="css/main.css">

    </body>
</html>
